/* Ini Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    position: relative;
    margin: 270px;
    width: 590px;
    height: 50px;
    background: #34495e;
    border-radius: 8px;

    
}

ul li a{
    padding:0 20px;
    display: ;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}




.section-container {
    background-color: #F0E68C;
    text-decoration: none;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: blueviolet;
    transition: all .5s;


}

li a:hover::after{
    width:100%;
}

.banner-container {
    height: 258px;
    border: 1px solid black;
}

.facility-list {
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
}

.form-result {
    height: 200px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
}

.message-us-section {
    display: flex;
    justify-content: space-around;
}

#Services{
width: 100px;
height: 100px;
border-radius: 50%;
border: 3px solid blueviolet;

}

hr{
    border: 1px solid blueviolet;
}

.submit {
    border: none;
    border-radius: 15px;
}

.submit:hover{
    background-color: #999;
}

.submit:active{
    transform: translateY(2px);
}