/* Ini Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding:0 20px;
    display: ;


}

.section-container {
    background-color: white;
    text-decoration: none;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: blueviolet;
    transition: all .5s;


}

li a:hover::after{
    width:100%;
}

.banner-container {
    height: 258px;
    border: 1px solid black;
}

.facility-list {
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
}

.form-result {
    height: 200px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
}

.message-us-section {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: yellow;
}